<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <div class="a" v-html="content1"></div>
    <v-divider></v-divider>

    <!-- <div class="a" v-html="content2"></div> -->

    <v-container>
      <br />
      <div v-html="output">
        {{ output }}
      </div>
      <br />
      <editor
        api-key="5ocxmygqhwuh5bup0zaqz078r529b0nz99txaff9qtrkrees"
        :init="initValues"
        v-model="output"
      />
    </v-container>
  </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";

export default {
  name: "app",
  components: {
    editor: Editor,
  },
  data() {
    return {
      content1: "<h1>Preview</h1>",
      content2: "<p>this is paragraph</p>",
      output: "",
      initValues: {
        height: 500,
        menubar: false,
        statusbar: false,
        plugins: [
          "preview",
          "table",
          "fontselect",
          "image",
          "hr",
          "advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table paste code help wordcount",
        ],
        toolbar:
          "preview | undo redo| table | image | hr |fontselect | fontsizeselect |forecolor | bold italic | \
          alignleft aligncenter alignright alignjustify",
        font_formats:
          "Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;AkrutiKndPadmini=Akpdmi-n",
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
      },
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
